<div class="w-3/4 flex flex-col justify-center items-center">
    <div class="w-1/2 text-3xl text-center">
        Kolay, Ucretsiz ve Hizli Youtube MP3-MP4 Donusturucu
    </div>
    <form class="w-full flex flex-row border border-gray-500 rounded h-16" name="youtube-download" method="post" action='/video'>
        <div class="h-full w-full p-3">
            <input name="url" placeholder="https://www.youtube.com/watch?v=kQW81ty6QFg" required class="text-gray-500 h-full w-full focus:outline-none bg-transparent" />
        </div>
            <button type="submit" class="text-white anim h-full w-auto px-3 bg-red-500 hover:bg-red-400 focus:outline-none rounded">Donustur</button>
    </form>
</div>