<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bungee+Shade" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="/javascript/index.js"></script>

  </head>
  <body>
    <div class="absolute w-full h-full bg-gray-100 flex flex-col z-0 items-center {{#if nocenter}}{{else}}justify-center{{/if}}">
        {{{body}}}
    </div>
    <div class="fixed hidden fadeCont w-full h-full z-10 bg-white flex flex-col items-center justify-center">
        <div class='mt-5 w-1/2 h-8 bg-gray-100 border rounded'>
            <div class='progress-bar relative h-full bg-red-500'>
            </div>
            <div class="percent relative text-center">

            </div>
        </div>
    </div>
  </body>
</html>
