
@import "./tailwind.css";
.anim{
  transition: .2s all ease;
}
.list{
    max-height: 12rem;
}
.videoWrapper iframe {
	width: 100%;
	height: 100%;
}
.fade{
    transition: 1s all ease;
    animation: op .5s infinite alternate;
}
.progress-bar{
  transition:1s all ease;
}
.percent:after{
    content:'%'
}
.percent{
    line-height: 2rem;
    top: -2rem;
}
@keyframes op {
    from {
        opacity:0;
    }
    to{
        opacity: 1
    }
}