
@import "./tailwind.css";
.anim{
  transition: .2s all ease;
}
.list{
    max-height: 12rem;
}
.videoWrapper iframe {
	width: 100%;
	height: 100%;
}
.fade{
    transition: 1s all ease;
    animation: op .5s infinite alternate;
}

@keyframes op {
    from {
        opacity:0;
    }
    to{
        opacity: 1
    }
}